body{
    background: -webkit-linear-gradient(left, #420213, #993b58);
    background-image: url('../../../assets/img/contacto/fondo.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    
}
.contact-form {
    background: rgba(255, 255, 255, 0.747);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    border-radius: 1%;
    padding: 3%; /* Añade más espacio dentro del formulario */
}
.contact-form .form-control {
    border-radius: .25rem;
    margin-bottom: 10%;
    transition: border-color 0.3s; /* Agrega una transición suave al cambio de color del borde */
    border-color: #ced4da; /* Color de borde por defecto */
}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
    border-color: #771731; /* Color de borde al pasar el mouse o enfocar el input */
    border-width: 1px;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    /* transform: rotate(29deg); */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3 {
    margin-bottom: 4%;
    margin-top: -15%; /* Ajusta el margen superior para centrar el título */
    text-align: center;
    color: #771731;
}
.contact-form .btnContact,
.btnContactSubmit {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #771731;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo */
}

.contact-form .btnContact:hover,
.btnContactSubmit:hover {
    background-color: #993b58; /* Cambia el color de fondo al pasar el mouse */
}


.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}
