body {
    margin-top: 20px;
}

.cart-item-thumb {
    display: block;
    width: 10rem;
    margin-top: 30px;

}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
    padding-left: 20px;
    font-size: 20px;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    margin-right: -5px;
    margin-left: -5px; 
}



.product:nth-child(4n+1) {
    margin-left: 0;
}

.product:nth-child(4n+4) {
    margin-right: 0;
}

h3 {
    font-family: Rouge Script;
    font-size: 80px;
    color: #590829;
}


/* Responsive */

/* Pantallas grandes */
@media (min-width: 992px) {
    .col-lg-7 .image-single img {
        width: 70%;
    }
}

/* Pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-7 .image-single img {
        width: 50%;
    }
}

/* Pantallas pequeÃ±as */
@media (max-width: 767px) {
    .col-md-7 .image-single img {
        width: 100%;
    }
}

.error-message {
    color: red;
    font-weight: bold;
}

.btnClear {
    width: 10%;
    border: 3px solid #771731;
    border-radius: 1rem;
    padding: 0.5%;
    background: #fff;
    font-weight: 500;
    color: #771731;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnCont {
    display: flex;
    width: 15rem;
    border-radius: 1rem;
    background: #771731;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

p {
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}

.carritoContainer {
    display: flex;
    flex: content;
    flex-direction: row;
}